
@font-face {
  font-family: 'ApercuPro-Regular';
  src: url('ApercuPro-Regular.ttf');
}

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
.socialicon {
  margin-top: 25px;
  align-content: center;
}

.padding-0 {
  padding: 0px !important;
}

body {
  padding-top: 56px;
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: black;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    font-family:ApercuPro-Regular;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  font-family:ApercuPro-Regular;
  border-color: white;
  color: white;
  background-color: #A6C9E9;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #A6C9E9;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #A6C9E9;
}

.boton_buscar:hover{
  background-color: #A6C9E9;
}
.btn-outline-success{
  color: #A6C9E9 ;
  border-color: #A6C9E9;
}

.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-purple { background-color: #6f42c1; }


.form-user {
  font-family:ApercuPro-Regular;
  margin-top: 50px;
  margin-bottom: 30px;å
}
.boton_enviar:hover{
  background-color:#588dbd;
}

.btn-primary{
  font-family:ApercuPro-Regular;
  color: white;
  background-color:  #A6C9E9;
  border-color:#A6C9E9;
}

.about-info {
  font-family:ApercuPro-Regular;
  margin-top: 30px;
  text-align:left;
}

.texttusconsultas{
  color: gray;
}
.footer-info {
  background-color:#A6C9E9;
  height: 150px;
}

.footer-text {
  font-family:ApercuPro-Regular;
  margin-top: 25px;
  text-align: center;
}

.titulo_footer{
  font-family:ApercuPro-Regular;
  margin-bottom: 50px;
  text-align: center;
}

.img-4{
  margin-top: 30px;
}